<!DOCTYPE html>
<html lang="en">
@using Microsoft.AspNetCore.Http
@using BoundlessBooks.Helpers
@{
    var username = Context.Session.GetString("Username");
}
@{
    var cartItems = Context.Session.GetObjectFromJson<List<Book>>("CartItems") ?? new List<Book>();
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BoundlessBooks</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BoundlessBooks.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/assets/css/layout.css" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-black border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <!-- Logo -->
                <a href="@Url.Action("Index", "Home")">
                    <img src="~/assets/images/general/appLogo.png" alt="Logo" style="max-width: 150px;">
                </a>

                <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse"
                    data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon "></span>
                </button>

                <div class="collapse navbar-collapse flex-end" id="navbarNav">
                    <div class="navbar-nav ms-auto">
                        <h5 class="mx-3 mt-2 text-white">Welcome @username!</h5>

                        @if (!string.IsNullOrEmpty(username))
                        {
                            <div>
                                <a asp-controller="Logout" asp-action="Logout" class="btn btn-danger">Logout</a>
                            </div>
                        }
                        else
                        {
                            <div>
                                <a asp-controller="Login" asp-action="Index" class="btn btn-danger">Login/Register</a>
                            </div>
                        }

                        <!-- Shopping cart icon -->
                        <button class="btn btn-outline-secondary mx-2 position-relative" id="cartButton">
                            <i class="fa fa-shopping-cart"></i>
                            @if (cartItems.Count() > 0)
                            {
                                <span class="badge badge-pill bg-danger" id="cartItemCount">@cartItems.Count()</span>
                            }
                        </button>

                    </div>
                </div>

            </div>
        </nav>

        <!-- Drawer content -->
        <div class="drawer" id="cartDrawer">

            <!-- Close button for small devices -->
            <button class="btn btn-primary d-lg-none text-right" onclick="closeCartDrawer()">Close</button>


            <div class="text-center text-white mt-3">My shopping cart</div>

            @if (cartItems != null && cartItems.Any())
            {
                <div class="row mt-4 px-3">
                    @foreach (var book in cartItems)
                    {
                        <div class="col-md-3 mb-4">
                            <img src="~/assets/images/books/@book.Image" alt="Book Image" style="width: 60px;">
                        </div>
                        <div class="col-md-5 mb-4 text-white">
                            <h5>@book.Title</h5>
                            <p>Price: Rs.@Math.Round(book.Price, 2)</p>
                        </div>
                        <div class="col-md-4 mb-4">
                            <button class="btn btn-danger" onclick="removeFromCart(@book.Id)">Remove</button>
                        </div>
                    }
                </div>
                <div class="row text-center">
                    <div class="col-md-12 text-white">
                        <h5>Total Price: Rs.@Math.Round(cartItems.Sum(book => book.Price), 2)</h5>
                    </div>
                </div>
                <div class="row px-2">
                    <div class="col-md-12 text-center">
                        <button class="btn btn-secondary col-12" onclick="checkout()">Checkout</button>
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p>Your cart is empty.</p>
                    </div>
                </div>
            }
        </div>


    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; 2023 - BoundlessBooks
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/assets/js/layout.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>
